@model SimpleShop.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>*@
        
        <b>
            <dt>
                @Html.DisplayFor(model => model.ProductName)
            </dt>
        </b>
        <br />
        <dt>
            <img src="@Url.Content("~/Content/Images/"+@Model.ImageUrl)" alt="@Model.ProductName" height="100" width="150" />
        </dt>

        @*<b>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
        </b>*@
        <br />
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*
    add a carousel for sliding pictures of selected items.
    add information such as Quantity and Prices along with Description etc etc...
*@