@model List<SimpleShop.Models.PPinfoCase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <b > Search:</b >
        <br />
        @Html.TextBox("search", null, new { autofocus="autofocus" }) <input type="submit" value= "Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ProductName)*@
            Product
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ImageUrl)*@
            Product Image
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Description)*@
            Product Description
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity Available
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                <img src="@Url.Content("~/Content/images/"+@item.Product.ImageUrl)" alt="@item.Product.ProductName" height="100" width="150">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdInfo.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdInfo.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Product.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.Product.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Product.ProductId })
            </td>
        </tr>
    }

</table>
