@using SimpleShop.Models
@model IEnumerable<SimpleShop.Models.PPinfoCase>

@{
    ViewBag.Title = "Index";
    int count = 0;
}

<h2>Index</h2>


@if (ViewData["Alertmsg"] != null)
{
    <script>
        alert('@ViewData["Alertmsg"]');
    </script>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <b> Search:</b>
        <br />
        @Html.TextBox("search", null, new { autofocus = "autofocus" }) <input type="submit" value="Search" />

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Product.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.Product.Description)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.ProdInfo.Price)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.ProdInfo.Quantity)
        </th>
        <th></th>
    </tr>


    @using (Html.BeginForm("AddToCart", "Products"))
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    <img src="@Url.Content("~/Content/images/"+@item.Product.ImageUrl)" alt="@item.Product.ProductName" height="100" width="150">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdInfo.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProdInfo.Quantity)
                </td>
                <td>

                    @Html.TextBox("quantity"+count, null, new { style = "width:50px", maxlength = "3", id = "quantityField" })
                    @*Html.Hidden("ProductId", item.Product.ProductId)*@
                    @*@Html.Hidden("ProdId"+count, item.Product.ProductId)*@
                    @*@Html.Hidden("Prodamount"+count, null)*@
                    


                </td>


                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Product.ProductId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Product.ProductId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Product.ProductId })
                    </td>*@
            </tr>

            count++;
        }
        <button type="submit" id="add2cartbtn">Add Item</button>

    }

</table>

@* store all contents of textboxes to hidden attribute of each corresponding items *@
<script type="text/javascript">
    $(function () {
        var amountField;
        $('.add2cartbtn').click(function () {
            for (int i = 0; i < count) {
                
                amountField = $("quantity" + i).val();
                if (amountField != null && amountField > 0) {
                    model[i].get(1).get(3).val(amountField);
                } else {
                    model[i].get(1).get(3).val(0);
                }
                
                //$("Prodamount"+i).val(amountField);
                i++;
            }

        $("")
    })
    })
</script>